linux-gnueabi-oe-g++ {
    message("building dm365")
    #This is our default build config
    INSTALL_PREFIX=$$OUT_PWD/../../
    DEFINES += DEBUG INFO LOG LOGV DEBUG_TIMING
    CONFIG += dmai staticlib dm365
} else:linux-g++-64 {
    message("building x86")
    #This is our default build config
    INSTALL_PREFIX=$$OUT_PWD/../../
    DEFINES += DEBUG INFO LOG LOGV DEBUG_TIMING
    CONFIG += staticlib x264 x11 ffmpeg x86

    INCLUDEPATH += /home/amenmd/myfs/source-codes/oss/ffmpeg/ffmpeg/ffmpeg_build/include/
}
